* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00ABB3;
    font-family: 'Lobster', cursive;
}

#title {
    width: 50%;
    padding-top: 10px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #EAEAEA;
    cursor: pointer;
}

h1:hover {
    color: #3C4048;
    transform: scale(1.3);
    transition: 1s;
}

#container {
    width: 80%;
    padding: 0 20px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square {
    width: calc((100% / 10) - 10px);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #100F0F;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}

.square:hover {
    background-color: #100F0F;
    color: #00ABB3;
    transform: scale(1.5);
    transition: 1s;
}

.fizzbuzz {
    background-color: #3C4048;
    color: #00ABB3;
}

.fizzbuzz:hover {
    background-color: #EAEAEA;
}

.fizz {
    background-color: #EAEAEA;
}

.buzz {
    background-color: #B2B2B2;
}
